<div class="container">
  <h1>New Entry</h1>
  <form (ngSubmit)="onSubmit()" #entryForm="ngForm">
    {{diagnostic}}
    <h2>Headache</h2>
    <div class="form-group">
      <label for="headacheDate">Date: </label>
      <input type="date" class="form-control" id="headacheDate" name="headacheDate"
        [(ngModel)]="model.entryFields.headache.date"
        #spy>
      <label for="headacheTime">Time:</label>
      <input type="time" name="headacheTime" value=""
        [(ngModel)]="model.entryFields.headache.time">
        <br>
        <label for="severity">Severity: </label>
        <input type="number" name="severity"  class="form-control" value="0"
            [(ngModel)]="model.entryFields.headache.severity">
    </div>

    <div class="form-group">
      <br>
      <h2>Triggers</h2>
      <ul class="triggers">
        <li *ngFor="let trig of TRIGGER_VALUES"
          [class.selected]="selectedTriggers.includes(trig)"
          (click)="toggleTrigger(trig)">
          <span class="badge">{{trig}}</span>
        </li>
        <label for="headacheDate">Date: </label>
        <input type="date" class="form-control" name="triggerDate"
          [(ngModel)]="model.triggerDate"
          #spy>
        <label for="triggerTime">Time:</label>
        <input type="time" name="triggerTime" value=""
          [(ngModel)]="model.triggerTime">
      </ul>

      <h2>Medications</h2>
      <div class="form-group" *ngFor="let med of MEDICATION_VALUES">
          <input type="checkbox" name="medication" value="" (click)="toggleMedication(med)">{{med}}
          <input type="date" name="medDate" value=""
            [(ngModel)]="model.medicationDate">
          <input type="time" name="medTime" value=""
            [(ngModel)]="model.medicationTime">
      </div>
    </div>

      <!-- <input *ngFor="let trig of triggerValues" type="checkbox" name="triggers" [(ngModel)]="model.trigger"
            value="trig"> -->
      <!-- <select class="form-control" name="trigger" id="triggers"
              [(ngModel)]="model.trigger" >
        <option *ngFor="let trig of triggerValues"
          >{{trig}}</option>
        <br>
      </select> -->
      <!-- TODO: remove this: {{model.trigger}}
    </div>

    <!-- TODO: the Triggers should really go here, but for some reason it goes over the button -->
    <h2>Comments</h2>
    <div class="form-group">
      <!-- <input type="text" id="comments" value="Tell us what's going on."> -->
      <!-- TODO: form attribute  -->
      <textarea id="comments" rows="8" cols="80" placeholder="Tell us going what's going on."
        name="comments" [(ngModel)]="model.comments"></textarea>
    </div>

    <button type="submit" name="btn btn-success"
        [disabled]="!entryForm.form.valid">Submit</button>

  </form>

</div>
