<div class="container">
  <h1>New Entry</h1>
  <form (ngSubmit)="onSubmit()" #entryForm="ngForm">
    {{diagnostic}}


    <h2>Headache</h2>
    <div *ngIf="!hasHeadache; then can_add_headache else can_remove_headache"class="">
    </div>
    <ng-template #can_add_headache>
      <button type="button" name="button" (click)="changeHasHeadache()">Add Headache</button>
    </ng-template>
    <ng-template #can_remove_headache>
      <button type="button" name="button" (click)="changeHasHeadache()">Remove Headache</button>
    </ng-template>
    <div *ngIf="hasHeadache" class="form-group">
      <label for="headacheDate">Date: </label>
      <input type="date" class="form-control" id="headacheDate" name="headacheDate"
        [(ngModel)]="model.entryFields.headache.date"
        #spy>
      <label for="headacheTime">Time:</label>
      <input type="time" name="headacheTime" value=""
        [(ngModel)]="model.entryFields.headache.time">
        <br>
        <label for="severity">Severity: </label>
        <select class="" name="severity" [(ngModel)]="model.entryFields.headache.severity">
           <option *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{number}}</option>
        </select>
        <!-- <input type="number" name="severity"  class="form-control" value="0"
            [(ngModel)]="model.entryFields.headache.severity"> -->
    </div>

    <br>
    <h2>Triggers</h2>
    <button type="button" name="add-trigger" (click)="addOneTrigger()">Add Trigger</button>
    <div *ngIf="hasTrigger" class="form-group">
      <br>
          <div class="" *ngFor="let entry of model.entryFields['triggers']; index as i" >
            <!-- <h4>{{model.entryFields.triggers[i].name}}</h4> -->
            <label for="trigger-{{i}}">{{model.entryFields.triggers[i].name}}</label>
            <br>
            <!-- TODO: Figure out how to get the text in the drop-down menus to stay the same after adding a new trigger  -->
            <select class="" name="trigger" id="trigger-{{i}}"
              [(ngModel)]="entry['name']"
            >
              <option *ngFor="let trig of getTriggerValues()"
                [value]="trig"
                >{{trig}}</option>
            </select>
            <input type="date" name="trigDate" value=""
              [ngModel]="entry.date | date:'yyyy-MM-dd'"
              (ngModelChange)="entry.date = $event">
            <input type="time" name="trigTime" value=""
            [ngModel]="entry.time"
            >
          </div>
    </div>

    <!-- TODO: fix the medications -->
    <h2>Medications</h2>
    <br>
    <button *ngIf="!hasMeds" type="button" name="add-meds" (click)="changeHasMeds()">Add Medications</button>
    <button *ngIf="hasMeds" type="button" name="hide-meds" (click)="changeHasMeds()">Hide Medications</button>
    <div *ngIf="hasMeds" class="form-group">
      <div *ngFor="let med of MEDICATION_VALUES">
          <input type="checkbox" name="medication" value="" (click)="toggleMedication(med)">{{med}}
          <input type="date" name="medDate" value=""
            [ngModel]="model.entryFields.medications[med]?.time"
            (ngModel)="setEntryWithDate('medications', med, $event)">
          <!-- <input type="time" name="medTime" value=""
            [(ngModel)]="model.entryFields.medications[med].time"> -->
      </div>
    </div>

    <h2>Comments</h2>
    <div class="form-group">
      <!-- <input type="text" id="comments" value="Tell us what's going on."> -->
      <!-- TODO: form attribute  -->
      <textarea id="comments" rows="8" cols="80" placeholder="Tell us going what's going on."
        name="comments" [(ngModel)]="model.entryFields.comments"></textarea>
    </div>

    <button type="submit" name="btn btn-success"
        [disabled]="!entryForm.form.valid">Submit</button>

  </form>

</div>
