<div class="container">
  <h1>New Entry</h1>
  <form (ngSubmit)="onSubmit()" #entryForm="ngForm">
    {{diagnostic}}


    <h2>Headache</h2>
    <div *ngIf="!hasHeadache; then can_add_headache else can_remove_headache"class="">
    </div>
    <ng-template #can_add_headache>
      <button type="button" name="button" (click)="changeHasHeadache()">Add Headache</button>
    </ng-template>
    <ng-template #can_remove_headache>
      <button type="button" name="button" (click)="changeHasHeadache()">Remove Headache</button>
    </ng-template>
    <div *ngIf="hasHeadache" class="form-group">
      <label for="headacheDate">Date: </label>
      <input type="date" class="form-control" id="headacheDate" name="headacheDate"
        [(ngModel)]="model.entryFields.headache.date"
        #spy>
      <label for="headacheTime">Time:</label>
      <input type="time" name="headacheTime" value=""
        [(ngModel)]="model.entryFields.headache.time">
        <br>
        <label for="severity">Severity: </label>
        <select class="" name="severity" [(ngModel)]="model.entryFields.headache.severity">
           <option *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{number}}</option>
        </select>
        <!-- <input type="number" name="severity"  class="form-control" value="0"
            [(ngModel)]="model.entryFields.headache.severity"> -->
    </div>

    <br>
    <h2>Triggers</h2>
    <!-- <button *ngIf="!hasTrigger" type="button" name="add-trigger" (click)="changeHasTrigger()">Add Triggers</button> -->
    <!-- <button *ngIf="hasTrigger" type="button" name="remove-triggers" (click)="changeHasTrigger()">Hide Triggers</button> -->
    <!-- Whenever add-trigger is clicked, add a new dropdown -->
    <button type="button" name="add-trigger" (click)="addOneTrigger()">Add Trigger</button>
    <div *ngIf="hasTrigger" class="form-group">
      <br>


          <div class="" *ngFor="let entry of model.entryFields['triggers']; index as i" >
            <select class="" name="trigger"
              [(ngModel)]="model.entryFields.triggers[i]['name']"
            >
              <option *ngFor="let trig of TRIGGER_VALUES"
              [selected]="trig==='Air Quality'"
                >{{trig.name}}</option>
            </select>
          </div>

      <!-- <ul class="triggers">
        <li *ngFor="let trig of TRIGGER_VALUES; index as i"
          [class.selected]="selectedTriggers.includes(trig)"
          (click)="toggleTrigger(trig)">
          <span class="badge">{{trig}}</span>

          <input type="date" class="form-control" name="triggerDate"
            [ngModel]="model.entryFields.triggers[trig]?.date"
            (ngModelChange)="setEntryWithDate('triggers', trig, $event)">
        </li>
      </ul> -->
    </div>

    <!-- TODO: fix the medications -->
    <h2>Medications</h2>
    <br>
    <button *ngIf="!hasMeds" type="button" name="add-meds" (click)="changeHasMeds()">Add Medications</button>
    <button *ngIf="hasMeds" type="button" name="hide-meds" (click)="changeHasMeds()">Hide Medications</button>
    <div *ngIf="hasMeds" class="form-group">
      <div *ngFor="let med of MEDICATION_VALUES">
          <input type="checkbox" name="medication" value="" (click)="toggleMedication(med)">{{med}}
          <input type="date" name="medDate" value=""
            [ngModel]="model.entryFields.medications[med]?.time"
            (ngModel)="setEntryWithDate('medications', med, $event)">
          <!-- <input type="time" name="medTime" value=""
            [(ngModel)]="model.entryFields.medications[med].time"> -->
      </div>
    </div>

    <h2>Comments</h2>
    <div class="form-group">
      <!-- <input type="text" id="comments" value="Tell us what's going on."> -->
      <!-- TODO: form attribute  -->
      <textarea id="comments" rows="8" cols="80" placeholder="Tell us going what's going on."
        name="comments" [(ngModel)]="model.entryFields.comments"></textarea>
    </div>

    <button type="submit" name="btn btn-success"
        [disabled]="!entryForm.form.valid">Submit</button>

  </form>

</div>
